---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Carlos Garcia</h1>
			<p class="hero__text">
				Desarrollador MERN experto, con experiencia en No-Code usando Mendix
			</p>
			<Boton href="../docs/Cv.pdf" 
			
			texto="Descarga mi CV para conocer más"/>
		</div>
    <img
		class="hero__img"
		src="/img/carlos.jpg"
		alt="Jhon Doe"
		width="384"
    	height="384"
	/>
	</div>
</section>
