---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			habilidades solidas en control de versiones con Git y GitHub, Scrum, Jira, Trello para gestión
			de tareas, así como experiencia en bases de datos como MySQL y MongoDB. Mi conocimiento
			abarca el desarrollo web con JavaScript, TypeScript, HL, CSS, Bootstrap, y experiencia en
			frameworks como React, Node.js, Nextjs y Express herramientas No-Code como WordPress y
			Mendix
		</p>
	</div>
</section>
