---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/profile.jpg"
			alt="Foto de perfil de Jhon Doe"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Desarrollador Full Stack, con conocimientos extensos en la pila MERN y bases de datos como PostgreSQL y MongoDB. Mis habilidades básicas en Java y conocimientos en Git, junto con mi familiaridad en herramientas no-code como Mendix, me permiten adaptarme rápidamente a las necesidades del desarrollo de software actual. Mi enfoque se centra en obtener resultados y disfruto colaborando en equipos multidisciplinarios para crear soluciones innovadoras y funcionales.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
