:root{
 margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #000000;
  color: #ffffff;
}
.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.scroll-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.scroll-button.visible {
  display: block;
}